h1 {
    color: Darkblue;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-style: italic;

}

ul {
  list-style-type: square;
}

.kitten{
  border-radius: 100%;
  width:50%;
}

p {
    color: DARKBLUE;
}
